<style>
    .title_div{
        margin : 10px;
        width: 100%;
    }

    .title_span{
        width : 10%;
    }

    .title_input{
        margin: 10px;
        width : 80%;
        padding: 10px;
        border: none;
    }

    .content_input{
        width : 100%;
        min-height: 200px;
        border : none;
        resize: none;
        margin : 10px;        
    }
</style>
<h1>글쓰기</h1>
<div class="title_div">
    <span class="title_span">제목 : <input class="title_input" tpye="text" name="title"></span>
</div>
<div class="content_div">
    <textarea class="content_input" name="content">
    </textarea>
</div>
<div>
</div>
    